*{padding:0; margin: 0; box-sizing: border-box;}

html{
    scroll-behavior:smooth;
}

.header{
  height:80px;
  margin: auto;
  background-color: rgb(127, 172, 255);
  color:white;
  display: flex;
  justify-content:right;
  align-items: center;
}

ul{
   display: flex;
   gap:2rem;
   margin-right: 4rem;
}

li{
   display: inline-block;
   font-size: 1.3rem;
   font-family: Courier, monospace;
   text-transform:uppercase;
   color:black;
}

li:hover{
   color:white;
   cursor: pointer;
}

.header-container{
   background-color: rgb(127, 172, 255);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 4rem 0;
}


#box1 > h1{
   text-transform: uppercase;
   font-size: 2.4rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin:4rem 0;
   font-weight:700;
}


#box1 > h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing:2.5px;
    margin:2.6rem 0;
}


#box-img{
    border:1px solid;
    width: 450px;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
}


#box-img > img{
    width: 200px;
}


.box-button{
    display: flex;
}


button{
   width: 7.5rem;
   height: 3rem;
   background-color: transparent;
   border: 1px solid;
   font-size: 16px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}


button:hover{
    background-color: black;  
    color:white;
}


a{
    text-decoration: none;  
    color: inherit; 
}

.main{
    width: 100%;
    border:1px solid black;
    padding: 3rem;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

.box-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}



