*{padding:0px; margin:0px; box-sizing: border-box;}

body{
background-color: rgb(230, 218, 110);

}

#box1{
width: 100%;
height: 657px;
transition: height 1s ease-in-out;
background-color:rgb(76, 150, 247);
overflow: hidden;
}

.main-img{
width: 270px;
height: 270px;
border: 1px solid;
overflow: hidden;
display: flex;
justify-content: center;
background-color: black;
border-radius: 50%;
margin:1rem 0;
}

#main1{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}

#main1 > h2{
font-size: 3rem;
margin:0.5rem 0;
}

#main1 > h4{
    font-size: 1.6rem;
    margin:0.5rem 0;
}

.middle{
 z-index: 1;
 cursor: pointer;
}

.btn{
    width: max-content;
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid black;
    padding: 1rem 1.4rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before{
    background: black;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn:hover{
    color:white;
}

.btn::before{
    width: 0%;
    height: 100%;
}

.btn:hover::before{
    width: 100%;
    color:white;
}
   
#header{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  transition: height 1s;
}

#box-header{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    gap:1rem;
}

#ul > li{
font-size: 2rem;
list-style: none;
transition: width 2s;
border-width: 0px;
width: max-content;
margin: auto;
}

#ul > li:hover{
    cursor: pointer;
    color:white;
    border-bottom: 1px solid black;
    border-width: 2px;
}

i{
    transform: scale(2);
    pointer-events: all;
    cursor: pointer;
   
}

#i_menu{
    color:black;
    transition: 0.5s;
  }

#i_menu:hover{
    color:white;
    cursor: pointer;
}

#icone_seta{
  display: none;
  color:black;
  transition: 0.3s;
  transform: scale(2.2);
}

#icone_seta:hover{
    color:white; 
    cursor: pointer;
}

#i_fechar{
    transition:0.3s;
}

#i_fechar:hover{
    color:white;
}


#box2{
    width: 100%;
    border: 1px solid black; 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0.7rem 0;
    gap:1.5rem;
}

.main-box1{
    width: 95%;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
 
}
#bloco1{
    overflow: hidden;
    
}

.blocos{
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.spaceA{
   margin-top: 90px;
}

.blocos > div{
    width: 100%;
    height: 260px;
    border: 1px solid;
    transition: 0.3s;
}

.blocos > div:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px black;
}

.blocos2{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}

.blocos2 > div{
    width: 100%;
    height: 260px;
    border: 1px solid;
}

  
.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}


/* ANIMAÇÃO */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
    
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


#bloco1{
    background-image: url(/fotos_projetos/projeto1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloco2{
    background-image: url(/fotos_projetos/projeto2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloco3{
    background-image: url(/fotos_projetos/projeto3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloco4{
    background-image: url(/fotos_projetos/projeto4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloco5{
    background-image: url(/fotos_projetos/projeto5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bloco6{
    background-image: url(/fotos_projetos/projeto6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#box-suspenso{
display:none;
width: 100%;
text-align:center;
z-index: 2;
position: fixed;
top: 20%; /* posiciona na metade da tela */
margin-top:-25px;/* e retrocede metade da altura */

}

.box-interior{
  background-color:rgb(76, 150, 247);
  width: 60%;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
 box-shadow:2px 2px 4px black;
}

.descricao{
    width: 50%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-descricao{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.img-info{
    width: 330px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_icone{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo_icone > h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.7rem 0;
    font-size: 1.2rem;
}

footer > h4{
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#seta-box-header{
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    display: none;
    transform: scale(1.3);
}

#seta-box-header:hover{
    cursor: pointer;
    color:white;
}

.tecnologia-detalhe{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.tecnologia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}

.tecnologia > p{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 0.9rem;
}

.tecnologia > h4 {
 margin: 0.5rem;
 font-family: Arial, Helvetica, sans-serif;
}

.detalhe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalhe > h5{
  font-family:sans-serif;
  font-weight: 500;
  margin: 1rem 0;
}

.detalhe > button{
    padding: 0.6rem 0.8rem;
}

@media screen and (max-width: 1290px) {
    *{margin: 0px; padding: 0px;}

	body{
	justify-content: center;
	}
    
    #box2{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap:0;
    }

    .blocos, .main-box1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin: 0;
        padding: 0;
    }

    .blocos > div, .blocos2 > div{
        width: 20rem;
        height: 10rem;
        border: 1px solid;
        transition: 0.3s;
        margin: 0;
        padding: 0;
    }

    .main-box1{
        margin: 0px;
    }

    .spaceA, .spaceB{
    margin: 0px;
    padding: 0px;
    margin: auto;
    }
    

}