*{padding:0px; margin:0px; box-sizing: border-box;}

body{
background-color: white;

}

#box1{
width: 100%;
height: 657px;
transition: height 1s ease-in-out;
background-color:rgb(76, 150, 247);
overflow: hidden;
}

.main-img{
width: 270px;
height: 270px;
border: 1px solid;
overflow: hidden;
display: flex;
justify-content: center;
background-color: black;
border-radius: 50%;
margin:1rem 0;
}



#main1{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}

#main1 > h2{
font-size: 3rem;
margin:0.5rem 0;
}

#main1 > h4{
    font-size: 1.6rem;
    margin:0.5rem 0;
}

.middle{
 z-index: 1;
 cursor: pointer;
}

.btn{
    width: max-content;
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid black;
    padding: 1rem 1.4rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before{
    background: black;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn:hover{
    color:white;
}

.btn::before{
    width: 0%;
    height: 100%;
}

.btn:hover::before{
    width: 100%;
    color:white;
}
   
#header{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  transition: height 1s;
}

#box-header{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
    gap:1rem;
}

li{
font-size: 2rem;
list-style: none;
transition: width 2s;
border-width: 0px;
width: max-content;
margin: auto;
}

li:hover{
    cursor: pointer;
    color:white;
    border-bottom: 1px solid black;
    border-width: 2px;
}

i{
    transform: scale(2);
    pointer-events: all;
    cursor: pointer;
}

.teste{ 
width:430px;
height: 270px;
  }

#i_menu{
    color:black;
    transition: 0.5s;
  }

#i_menu:hover{
    color:white;
    cursor: pointer;
}

#icone_seta{
  display: none;
  color:black;
  transition: 0.3s;
}

#icone_seta:hover{
    color:white; 
    cursor: pointer;
}


#box2{
    width: 100%;
    border: 1px solid black; 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 1rem 0;
    gap:1.5rem;
}

.main-box1{
    width: 95%;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
 
}
#bloco1, #bloco3{
    overflow: hidden;
    
}



.blocos{
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}

.spaceA{
   margin-top: 90px;
}

.blocos > div{
    width: 100%;
    height: 260px;
    border: 1px solid;
}

.blocos2{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; 
}

.blocos2 > div{
    width: 100%;
    height: 260px;
    border: 1px solid;
}

  
.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}


/* ANIMAÇÃO */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
    
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes  BlocoPassar{

    90%{
        opacity: 0.1;
    }
    100%{
        transform: translateX(-200px);
    }

}


@keyframes  BlocoVoltar{
 
    90%{
        opacity: 0.1;
    }
    100%{
        transform: translateX(200px);
    }
}

  



